/*
*Css file of the application
*/
/* 
    Created on : 29-dec-2015, 11:34:24
    Author     : Bas Sikkema
*/
body {
    background-image: url("../Images/dna.jpeg");
}

h1 {
    width: 430px;
    margin-left: 450px;
    background-color: grey;
    color:azure;
    border-style: solid;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;

}


#primers{

    background-color: azure;
    width:380px;
    height:330px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;

}


#informationText{
    background-color:azure;
    border-style:solid;
    border-width: 5px;
}

#table {
    background-color: azure;
    border-style: solid;
    border-width: 5px;

}

#footer {
    bottom:0;
    background-color: grey;
}

#content {
    background-color: lightblue;
    height: 900px;
    width:950px;
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
}

#error {
    width: 480px;
    height: 60px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;    
    background-position: -20px center;
    color: #9F6000;
    background-color: black;
    background-image: url("../Images/warning_black.png");
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

